body {
    background-color: rgb(229, 242, 255);
}

table {
    display: table;
    border-spacing: 30px;
    border-collapse: collapse;
    border: 1px solid black;
}

tr {
    display: table-row;
    border-spacing: 30px;
    border: 1px solid black;

}

tr>* {
    display: table-cell;
    border: 1px solid black;
    padding: 15px;
}

th {
    text-align: center;
    background-color: #f6ebdc;
}

td {
    text-align: left;
}

.title {
    width: 400px;

}

input[type='number'] {
    width: 250px;
}

input[type='text'] {
    width: 250px;
}

div.table {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.form {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.fields {
    padding: 15px;
}

.cardDiv {
    justify-content: center;
    display: flex;
    padding-top: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    align-self: center;
    padding: 16px;
    text-align: center;
    background-color: #f6ebdc;
    border-style: solid;
    border-color: #f1e0c9;
    width: 800px;
}

h1 {
    text-align: center;
}

.deletebtn {
    background-color: red;
    border-color: red;
    color: white;
    width: 75px;
    height: 25px;
    border-radius: 2px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 200px;
}

/* Style the header with a background and some padding */
.header {
    overflow: hidden;
    background-color: #f6ebdc;
    border-style: solid;
    border-color: #f1e0c9;
    padding: 20px 10px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#logo {
    max-width: 5%;
    min-width: 5em;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    background-color: dodgerblue;
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: right;
    padding: 20px;
    padding-right: 25px;
}

.button {
    width: 50px;
    height: 25px;
    border-radius: 2px;
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
}

.sortByName {
    width: 50px;
    height: 25px;
    border-radius: 2px;
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
}

.sortByRating {
    width: 50px;
    height: 25px;
    border-radius: 2px;
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
}

.addmovie {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
}

.footer {
    overflow: hidden;
    background-color: #f6ebdc;
    border-style: solid;
    border-color: #f1e0c9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}