/* Fundamentals */
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: rgb(229, 242, 255);
    margin-top: 150px;
    margin-bottom: 20px;
}

.title {
    width: 400px;
}

h1 {
    text-align: center;
}

/* Input fields */
.inputField {
    background-color: rgb(229, 242, 255);
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}

input[type='number'] {
    width: 250px;
}

input[type='text'] {
    width: 250px;
}

div.form {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.fields {
    padding: 15px;
}

/* Table */
table {
    display: table;
    border-spacing: 30px;
    border-collapse: collapse;
    border: 1px solid black;

}

#movietable {
    margin-bottom: 30px;
}

tr {
    display: table-row;
    border-spacing: 30px;
    border: 1px solid black;

}

tr>* {
    display: table-cell;
    border: 1px solid black;
    padding: 15px;
}

th {
    text-align: center;
    background-color: #f6ebdc;
}

td {
    text-align: left;
}

div.table {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* About Cards */
.cardDiv {
    justify-content: center;
    display: flex;
    padding-top: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-self: center;
    padding: 16px;
    text-align: center;
    background-color: #f6ebdc;
    border-style: solid;
    border-color: #f1e0c9;
    width: 800px;
}

/* Buttons */
.addmovie {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
}

.deletebtn {
    background-color: red;
    border-color: red;
    color: white;
    width: 75px;
    height: 25px;
    border-radius: 2px;
}

.nextCardButton {
    width: 50px;
    height: 25px;
    border-radius: 2px;
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
}

.sortByName {
    width: 50px;
    height: 25px;
    border-radius: 2px;
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
}

.sortByRating {
    width: 50px;
    height: 25px;
    border-radius: 2px;
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;

    overflow: hidden;
    background-color: #f6ebdc;
    border-style: solid;
    border-color: #f1e0c9;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-right: 10px;
}

#logo {
    max-width: 5%;
    min-width: 5em;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
    padding: 20px;
    padding-right: 25px;
}

/* Footer */
.footer {
    background-color: #f6ebdc;
    border-style: solid;
    border-color: #f1e0c9;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-style: italic;
    display: flex;
    height: auto;
    justify-content: space-between;
    min-height: 20px;
    margin-top: 50px;
}


#github {
    margin-right: 30px;
}

#footerlogo {
    margin-left: 30px;
    max-width: 1%;
    min-width: 1em;
    width: 1%;
    background-size: 5px 5px;
    background-repeat: no-repeat;
    background-position: center center;
}